.key-frame {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-border-color: border;
    -fx-pref-height: 60;
    -fx-min-width: 75;
}

.key-frame .content {
    -fx-padding: 0 10 0 10;
}

.key-frame .label-box {
    -fx-spacing: 1;
}

.key-frame .highlight {
    -fx-background-color: -fx-accent;
    -fx-min-height: 2;
    -fx-pref-height: 2;
    -fx-max-height: 2;
    -fx-translate-y: 3;
}

.key-frame .button {
    -fx-background-color: edge-highlight, background;
    -fx-background-insets: 0, 1 0 0 0;
    -fx-background-radius: 0;
    -fx-border-color: border;
    -fx-padding: 3;
    -fx-min-height: 14;
    -fx-pref-height: 14;
    -fx-max-height: 14;
    -fx-min-width: 14;
    -fx-pref-width: 14;
    -fx-max-width: 14;
    -fx-cursor: hand;
}

.key-frame .button:hover {
    -fx-background-color: white;
}

.key-frame .right-box .button {
    -fx-border-width: 0 0 1 1;
    -fx-padding: 4 5 4 5;
}

.key-frame .left-box .button {
    -fx-border-width: 0 1 1 0;
}

.key-frame .button .svg-view .path {
    -fx-fill: mark;
}

.key-frame .delete-button .svg-view .path {
    -fx-fill: mark;
}

.key-frame .arrow {
    -fx-background-color: white, mark;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}

.key-frame .text-field {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-font-size: 11;
}

.key-frame .label {
    -fx-font-size: 11;
}